<md-card>
    <md-button aria-label="Use Android" class="md-fab md-primary">
        <md-icon md-font-icon="material-icons">delete</md-icon>
    </md-button>

    <md-card-content>
        <h2 class="md-title">Paracosm</h2>
        <p>
            The titles of Washed Out's breakthrough song and the first single from Paracosm share the two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
        </p>
    </md-card-content>
    <div class="md-actions" layout-align="end center" layout="row">
        <md-button ng-click="menu.show($event)">Action 1</md-button>
        <md-button>Action 2</md-button>
    </div>
</md-card>

<md-card>
    <md-card-content>
        <h2 class="md-title">Paracosm</h2>
        <p>
            The titles of Washed Out's breakthrough song and the first single from Paracosm share the two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
        </p>
    </md-card-content>
</md-card>

<br/>

<md-card>
    <md-menu >
        <md-button class="md-icon-button" ng-click="$mdOpenMenu($event)">
            <md-icon md-font-icon="material-icons" md-menu-origin>alarm</md-icon>
        </md-button>
        <md-menu-content width="4">
            <md-menu-item>
                <md-button ng-click="menu.redial($event)">
                    <md-icon md-menu-align-target md-font-icon="material-icons">dialpad</md-icon>
                    Redial
                </md-button>
            </md-menu-item>
            <md-menu-item>
                <md-button disabled="disabled" ng-click="menu.checkVoicemail()">
                    <md-icon md-font-icon="material-icons">voicemail</md-icon>
                    Check voicemail
                </md-button>
            </md-menu-item>
            <md-menu-divider></md-menu-divider>
            <md-menu-item>
                <md-button ng-click="menu.toggleNotifications()">
                    <md-icon md-font-icon="material-icons">{{ctrl.notificationsEnabled ? 'location_on' : 'location_off' }}</md-icon>
                    {{ctrl.notificationsEnabled ? 'Disable' : 'Enable' }}
                    notifications
                </md-button>
            </md-menu-item>
        </md-menu-content>
    </md-menu>
    <md-card-content>
        <h2 class="md-title">Paracosm</h2>
        <p>
            The titles of Washed Out's breakthrough song and the first single from Paracosm share the two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
        </p>
    </md-card-content>
</md-card>
