<md-dialog add-item-dialog="" aria-describedby="dialog_14" aria-label="Add Dessert ..."
           class="md-default-theme md-transition-in" role="dialog" tabindex="-1">
    <md-dialog-content id="dialog_14">

        <h2 class="md-title">Add Dessert</h2>

        <!-- ngIf: item.form.$submitted && item.form.$invalid -->

        <form class="ng-pristine ng-invalid ng-invalid-required ng-valid-md-maxlength ng-valid-min ng-valid-max"
              name="item.form" ng-submit="ctrl.addItem()" style="">
            <div class="input-row" layout="row">
                <md-input-container class="md-default-theme" flex="">
                    <label for="input_6">Name</label>
                    <input aria-invalid="true" aria-required="true"
                           class="ng-pristine ng-untouched md-input ng-invalid ng-invalid-required ng-valid-md-maxlength"
                           id="input_6" md-maxlength="20" name="name" ng-model="dessert.name" ng-trim="false"
                           required="" style="" tabindex="0">

                    <div class="md-char-counter">0/20</div>
                </md-input-container>
                <md-input-container class="md-default-theme" flex="">
                    <label for="input_7">Calories</label>
                    <input aria-invalid="true" aria-required="true"
                           class="ng-pristine ng-untouched md-input ng-valid-min ng-valid-max ng-invalid ng-invalid-required"
                           id="input_7" max="999" min="0" name="calories" ng-model="dessert.calories.value" required=""
                           style="" tabindex="0" type="number">
                </md-input-container>
            </div>
            <h3 class="md-subhead">Macronutrients</h3>

            <div class="input-row" layout="row">
                <md-input-container class="md-default-theme" flex="">
                    <label for="input_8">Fat (g)</label>
                    <input aria-invalid="true" aria-required="true"
                           class="ng-pristine ng-untouched md-input ng-valid-min ng-valid-max ng-invalid ng-invalid-required"
                           id="input_8" max="99" min="0" name="fat" ng-model="dessert.fat.value" required="" style=""
                           tabindex="0" type="number">
                </md-input-container>
                <md-input-container class="md-default-theme" flex="">
                    <label for="input_9">Carbs (g)</label>
                    <input aria-invalid="true" aria-required="true"
                           class="ng-pristine ng-untouched md-input ng-valid-min ng-valid-max ng-invalid ng-invalid-required"
                           id="input_9" max="99" min="0" name="carbs" ng-model="dessert.carbs.value" required=""
                           style="" tabindex="0" type="number">
                </md-input-container>
                <md-input-container class="md-default-theme" flex="">
                    <label for="input_10">Protein (g)</label>
                    <input aria-invalid="true" aria-required="true"
                           class="ng-pristine ng-untouched md-input ng-valid-min ng-valid-max ng-invalid ng-invalid-required"
                           id="input_10" max="99" min="0" name="protein" ng-model="dessert.protein.value" required=""
                           style="" tabindex="0" type="number">
                </md-input-container>
            </div>
            <h3 class="md-subhead">Micronutrients</h3>

            <div class="input-row" layout="row">
                <md-input-container class="md-default-theme" flex="">
                    <label for="input_11">Sodium (mg)</label>
                    <input aria-invalid="true" aria-required="true"
                           class="ng-pristine ng-untouched md-input ng-valid-min ng-valid-max ng-invalid ng-invalid-required"
                           id="input_11" max="9999" min="0" name="sodium" ng-model="dessert.sodium.value" required=""
                           style="" tabindex="0" type="number">
                </md-input-container>
                <md-input-container class="md-default-theme" flex="">
                    <label for="input_12">Calcium (%)</label>
                    <input aria-invalid="true" aria-required="true"
                           class="ng-pristine ng-untouched md-input ng-valid-min ng-valid-max ng-invalid ng-invalid-required"
                           id="input_12" max="99" min="0" name="calcium" ng-model="dessert.calcium.value" required=""
                           style="" tabindex="0" type="number">
                </md-input-container>
                <md-input-container class="md-default-theme" flex="">
                    <label for="input_13">Iron (%)</label>
                    <input aria-invalid="true" aria-required="true"
                           class="ng-pristine ng-untouched md-input ng-valid-min ng-valid-max ng-invalid ng-invalid-required"
                           id="input_13" max="99" min="0" name="iron" ng-model="dessert.iron.value" required="" style=""
                           tabindex="0" type="number">
                </md-input-container>
            </div>
        </form>

    </md-dialog-content>

    <div class="md-actions">
        <button aria-disabled="true" class="md-primary md-button md-default-theme" disabled="disabled"
                ng-click="ctrl.addItem()" ng-disabled="item.form.$invalid" tabindex="0">
            <span>Add Item</span>
        </button>
        <button class="md-primary md-button md-default-theme" ng-click="ctrl.cancel()" tabindex="0">
            <span>Cancel</span>
        </button>
    </div>

</md-dialog>
