// out: app.css

@import 'variables';
@import 'icons';
@import 'roboto';
@import 'material';

@import '../modules/menu/menu';

body {
    display   : flex;
    overflow  : hidden;
    max-width : 100%;
    max-height: 100%;
}

a {
    text-decoration: none;
}
