// out: app.css

@import 'variables';
@import "vendor-prefixes";
@import 'mixins';
@import 'fonts';
@import 'material';

@import '../modules/menu/menu';

body {
    display   : flex;
    overflow  : hidden;
    max-width : 100%;
    max-height: 100%;
}

a {
    text-decoration: none;
}

@include scrollbars(0.3em, lightgrey, $body-bg);
