// main: app.scss
/**
*     Button
**/
.md-button.md-fab {
    z-index: 1;
}

.md-button {
    padding: 0 12px !important;
    min-height: 32px;

    &.md-icon-button:not([disabled]) {
        @include hover-pop(rgba(255,255,255,0.1), 90%, 250ms, 0);
    }

    md-icon {
        width              : 1em;
        transition-duration: 350ms;
        backface-visibility: hidden;

        &:hover {
            transform: rotate(360deg);
        }
    }
}

.md-actions {
    .md-button.md-icon-button {
        width      : 36px;
        height     : 36px;
        line-height: 36px;
        margin     : 0;

        &:not([disabled]) {
            @include hover-pop(rgba(0,0,0,0.084), 50%, 250ms, 0);
        }

        md-icon {
            color    : $gray-light;
            font-size: 20px;

            &:hover {
                color: $gray;
            }
        }
    }
}
