// main: app.scss
@import '../../lib/angular-material/src/angular-material';

button:focus {
    outline: 0;
}


/**
*     Content
**/
md-content {
    background-color: $body-bg;
}


/**
*     Button
**/
.md-button.md-fab {
    z-index: 1;
}


.md-button {
    min-height: 32px;

    &.md-icon-button:not([disabled]) {
        @include hover-pop(rgba(255,255,255,0.1), 90%, 250ms, 0);
    }


    md-icon {
        transition-duration: 350ms;
        backface-visibility: hidden;

        &:hover {
            transform: rotate(360deg);
        }
    }
}


.md-actions {
    padding-right: 10px;

    .md-button.md-icon-button {
        width      : 32px;
        height     : 32px;
        line-height: 32px;
        margin     : 0;

        &:not([disabled]) {
            @include hover-pop(rgba(0,0,0,0.084), 50%, 250ms, 0);
        }


        md-icon {
            color    : $gray-light;
            font-size: 20px;
            &:hover {
                color: $gray;
            }
        }
    }
}


/**
*    Sidebar
*/
md-backdrop.md-sidenav-backdrop {
    transition: background-color 50ms $swift-ease-in-timing-function;
    z-index   : 2;
}


md-sidenav {

    &.md-closed-add,
    &.md-closed-remove {
        display   : flex;
        transition: 300ms all;
    }


    &.md-sidenav-left {
        z-index   : 2;
        box-shadow: 0 0 1px 1px rgba(0, 0, 0, .14), 0 0 2px 2px rgba(0, 0, 0, .098), 0 0 5px 1px rgba(0, 0, 0, .084);
        md-toolbar {
            background-color: $brand-primary;
        }
    }
}


/**
*    Toolbar
*/
md-toolbar[ui-view='topbar'] {
    z-index   : 3;
    color     : white !important;
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, .14), 0 0 2px 2px rgba(0, 0, 0, .098), 0 0 5px 1px rgba(0, 0, 0, .084);
}


/**
*    Menu
*/
.md-open-menu-container {
    transform       : scale(0);
    transform-origin: right top;

    &.md-active {
        transform: scale(1);
        > md-menu-content > * {
            transition: none;
        }
    }


    &.md-leave {
        transform: scale(0);
    }
}


.md-menu {
    padding: 0;
}


/**
*     List
**/
md-list-item,
md-list-item .md-list-item-inner {
    & > md-icon:first-child {
        margin-right: 16px;
        margin-left : 16px;
    }
}


/**
*    Card
**/
md-card-header {
    position        : relative;
    padding         : 16px;
    background-color: $gray-lightest;

    & > h2 {
        margin     : 0;
        line-height: 100%;
        font-size  : 17px;
        font-weight: 400;

        & > small {
            display    : block;
            margin-top : 5px;
            color      : #aeaeae;
            line-height: 160%;
        }
    }


    .md-actions {
        padding-right: 0;
    }
}


md-card-footer {
    margin-bottom: 10px;
    margin-right : 5px;
    padding      : 8px;

    height: 56px;
    border-top: 1px $gray-lighter solid;
    font-size: 12px;
    font-weight: 500;

    & > :not(:first-child) {
      margin-left: 16px;
    }

    & > :not(:last-child) {
      margin-right: 16px;
    }
}


md-block-header {
    padding: 20px 16px 0 25px;

    & > h2 {
        font-size     : 15px;
        color         : #777;
        margin        : 0;
        font-weight   : 400;
        text-transform: uppercase;

        & > small {
            display       : block;
            text-transform: none;
            margin-top    : 8px;
            margin-bottom : 20px;
            color         : #9e9e9e;
            line-height   : 140%;
        }
    }
}
